<% content_for :title do %>iosie VISITOR - View Lesson<% end %>

<% content_for :custom_css do %>
    <link rel="stylesheet" type="text/css" href="/styles/jplayer.pink.flag.css">
    <link rel="stylesheet" type="text/css" href="/styles/jquery-ui-1.8.22.custom.css">
    <link rel="stylesheet" type="text/css" href="/styles/glossary_entry.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/tipTip.css"/>
    <style>
        .proto {
            display: none;
        }

        .cross {
            position: absolute;
            top: -19px;
            right: -19px;
            display: block;
            background: url('/images/cross.png') no-repeat 0 0;
            width: 36px;
            height: 35px;
        }

        .cross:hover {
            background: url('/images/cross.png') no-repeat 0 -36px;
        }
    </style>
<% end %>

<% content_for :custom_js do %>
    <script src="/js/jquery.jplayer.min.js" type="text/javascript"></script>
    <script src="/js/glossary_entry.js" type="text/javascript"></script>
    <script src="/js/podcast.js" type="text/javascript"></script>
    <script src="/js/jquery.tipTip.minified.js" type="text/javascript"></script>
    <script src="/js/question_infinite_scroll.js" type="text/javascript"></script>
    <script src="/js/infini_scroll.js" type="text/javascript"></script>
    <script src="/js/strftime.minified.js" type="text/javascript"></script>
    <script src="/js/microblog.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {
            //Tabs
            $("#tabs").tabs();
        });
    </script>

<% end %>

<!-- /-- Body -->

<%= erb :"partial/feedback" %>

<%= erb :"partial/header" %>

<div id="content" class="container_24 clearfix">
  <%= erb :"lesson/partial/_glossary" %>

  <%= erb :"lesson/partial/_lesson_header" %>

  <%= erb :"lesson/partial/_sidebar" %>

  <%= erb :"lesson/partial/_tabbed_area" %>
</div>

<%= erb :"partial/footer" %>

<%= erb :"partial/content_suggestion" %>

<!-- \-- Body -->
