<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= erb :'lesson/partial/_category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!-- /-Annotation -->
  <%= erb :'lesson/partial/_annotation' %>
  <!-- \-Annotation -->

  <!-- /-Podcast -->
  <%= erb :'lesson/partial/_podcast' %>
  <!-- \-Podcast -->

  <!-- /-Presentation -->
  <%= erb :'lesson/partial/_presentation' %>
  <!-- \-Presentation -->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= erb :'partial/glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= erb :'partial/tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>
<!-- end of sidebar -->