<!-- /-Tabbed Area -->

<div id="main" class="grid_19 clearfix">

  <div id="tabs">
  <ul>
    <li><a href="#tabs-1">Main Script</a></li>
    <li><a href="#tabs-2">Micro Blog</a></li>
    <li><a href="#tabs-3">Q & A</a></li>
    <li><a href="#tabs-4">Discussion</a></li>
  </ul>

  <!--------------------------------------Main Script Content ------------------------------------>
  <div id="tabs-1" class="Script body">

    <!-- /- Objective -->
    <div class="objectives">
      <h4>Objectives of this Lesson:</h4>

      <% if @lesson.objectives.any? %>
        <ol>
        <% @lesson.objectives.each do |oj| %>
          <li><%= oj %></li>
        <% end %>
        </ol>
      <% end %>
    </div>
    <!-- \- Objective -->

    <div class="script">
      <h4>Script of Lesson</h4>
      <p>
        Duis laoreet nunc a libero hendrerit sit amet pretium ligula viverra. Vivamus condimentum imperdiet molestie. Praesent ornare consectetur augue quis consectetur. Nunc condimentum dictum turpis. Morbi augue justo, sagittis in porta at, pellentesque quis tellus. Vivamus bibendum lectus elementum leo egestas lacinia faucibus urna varius. Proin gravida est at libero semper id condimentum risus ullamcorper. Duis faucibus, lacus eget tincidunt vestibulum, ante lacus bibendum enim, non tincidunt sapien metus porttitor velit. In hac habitasse platea dictumst. Fusce facilisis lobortis metus, molestie cursus magna aliquam et.

        Suspendisse potenti. Donec at felis at risus laoreet vulputate a sed est. Mauris nisi nulla, tincidunt quis malesuada at, vestibulum eu sem. Donec elementum est viverra sapien vehicula interdum. Fusce a mauris neque. Sed lobortis consequat nisi non auctor. Nam elementum dapibus diam ut vehicula.

        Aenean quis gravida risus [<a href="#ref1">1</a>]. Curabitur nibh urna, aliquam et vestibulum a, pretium at urna. Duis nisl est, pretium quis accumsan nec, tincidunt ac justo. Mauris sed lacus felis, et vulputate dui. Ut pharetra suscipit lorem, eu luctus nibh venenatis non. Vestibulum vel elit non felis sollicitudin pretium sed a sapien. Suspendisse potenti. Sed facilisis arcu et enim cursus ac faucibus odio blandit.

        Maecenas quis ante sed justo elementum dictum.

        <img src="images/slide4.jpg" />

        Morbi ipsum ipsum, varius sed consequat et, ultricies ac nulla. Aliquam erat volutpat. Donec suscipit justo eget est ornare rhoncus. Donec bibendum massa in diam rutrum ultricies. Vestibulum nec lorem turpis, pretium pellentesque tellus. Donec congue bibendum justo nec egestas. Curabitur adipiscing justo et risus pharetra quis rhoncus turpis consequat. Nunc eu tortor orci, in rutrum leo. Aliquam velit augue, accumsan et bibendum at, molestie ac ante. Aliquam condimentum posuere nisl eu dapibus. Fusce viverra massa ac magna posuere quis tristique nulla tincidunt. Nullam dictum, nibh ac mattis auctor, turpis neque dapibus mauris, sodales elementum dui quam viverra eros.

        Donec scelerisque ante nec elit varius auctor [<a href="#ref2">2</a>]. In quis turpis id sapien molestie tristique dictum id lorem. Nunc consequat tortor quis nunc sollicitudin pellentesque. Praesent ac mi ac felis vulputate ultrices. Sed molestie odio id diam faucibus imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean dignissim, felis sodales dapibus elementum, odio nulla interdum nisi, eget fermentum odio metus eu odio. Nunc gravida fringilla cursus.

        Nulla placerat enim ac enim gravida fringilla. Nullam in est augue. Vestibulum tincidunt augue vel ante viverra dignissim. Pellentesque porta risus a ipsum dignissim nec cursus enim mollis. Aenean lobortis tincidunt sem, nec porta quam iaculis vitae. Suspendisse sit amet rhoncus orci. Maecenas convallis suscipit viverra. Praesent tristique pharetra condimentum. Donec eget facilisis velit. Cras quis odio augue. Vivamus quis sollicitudin ante. Nam suscipit porttitor ipsum sed dignissim. Curabitur nec augue metus.

        Aliquam et tortor vitae dui accumsan luctus [<a href="#ref3">3</a>]. Phasellus est massa, luctus pretium lacinia vel, suscipit a augue. Duis condimentum, diam nec imperdiet commodo, quam lacus pharetra turpis, sit amet egestas massa magna eget eros. Etiam nunc elit, tincidunt quis blandit vitae, sollicitudin id mi. Nam volutpat rhoncus mi a fermentum. Donec urna velit, convallis sit amet viverra nec, tempor convallis quam. Nullam ullamcorper porta cursus. Donec eleifend elit sed lacus dignissim sed gravida mauris vehicula. Etiam eu leo eget metus ornare luctus vel ut lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        Sed dapibus erat nec mi bibendum et volutpat sem interdum. Curabitur eu felis leo, quis consequat odio. Suspendisse mi quam, consequat ac consequat eget, tempus in enim. Sed sed est ante, sed eleifend dui. Suspendisse convallis enim elementum velit suscipit ornare. Aliquam id massa nisi. Duis eu sem in erat fermentum interdum a nec nulla.

        Curabitur nec erat nec massa iaculis imperdiet at sit amet risus [<a href="#ref4">4</a>]. Aenean pretium pharetra metus eu porta. Duis quam odio, accumsan sed auctor ut, mattis vitae urna. Vestibulum venenatis ante sit amet justo pulvinar ut aliquam nisl bibendum. Vestibulum rutrum dignissim lectus, id porta nisl blandit id. Maecenas at tellus enim. Donec luctus suscipit mi ut malesuada. Integer volutpat nisi vitae augue posuere vehicula. Maecenas interdum, metus id pellentesque consequat, felis arcu ultricies risus, ac tempus enim augue vel augue. Curabitur id feugiat massa. Vivamus luctus fringilla ligula, eu varius magna hendrerit aliquam. Pellentesque eu pharetra magna. Mauris nec diam ac nulla convallis pulvinar. Sed mollis volutpat luctus. Donec nibh nunc, imperdiet porta aliquet in, eleifend et urna. Phasellus iaculis, risus faucibus malesuada viverra, tellus risus tristique enim, in interdum ante nibh ut lacus.

        Morbi ut tortor nec est sollicitudin condimentum eu sed quam. Suspendisse potenti. Donec ultricies sodales vestibulum. Vivamus non risus erat. In enim nunc, pharetra non varius et, rhoncus sed magna. Pellentesque mollis, odio et cursus placerat, orci mauris blandit libero, vitae volutpat sapien erat quis erat. Vestibulum tincidunt iaculis fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eget risus tellus, quis dignissim risus [<a href="#ref5">5</a>]. Cras fringilla magna vitae erat congue quis dictum odio sagittis. Nam lacinia rhoncus facilisis.
      </p>
    </div>

    <!-- /- References -->
    <div class="references">
      <h4>References</h4>
      <% if @lesson.references.any? %>
        <ol>
          <% @lesson.references.each do |ref| %>
            <li>
              <div style="margin: 0 30px 15px 0;">
                <% unless ref.photo.nil? %>
                  <img src="/<%= settings.ref_img_dir + "/" + ref.photo %>"
                       style="float: left; margin: 10px 10px 0 10px; border: 1px solid gray;
                              max-height: 150px; padding: 5px; background-color: #FFF;">
                <% end %>
                <div style="text-align: justify; clear: right; margin-left: 10px;">
                  <strong><%= ref.title %></strong>
                  <span><%= ref.description %></span>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
    <!-- \- References -->

  </div>
  <!--------------------------------------Main Script Content ------------------------------------>

  <!--------------------------------------Micro Blog Content ------------------------------------>
  <div id="tabs-2" class="MicroBlog  body">
    <div class="post">
      <h2>Post Title</h2>
      <span class="date">posted on january 24, 2012</span>
      <span class="comments"><a href="#" id="dialog_link1">18 comments</a></span>
      <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>

      <div id="dialog1" title="Comments on Post 1">
        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>
      </div>
    </div>

    <div class="post">
      <h2>Post Title</h2>
      <span class="date">posted on october 14, 2012</span>
      <span class="comments"><a href="#" id="dialog_link2">22 comments</a></span>
      <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>

      <div id="dialog2" title="Comments on Post 2">
        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>
      </div>
    </div>

    <div class="post">
      <h2>Post Title</h2>
      <span class="date">posted on october 14, 2012</span>
      <span class="comments"><a href="#" id="dialog_link3">22 comments</a></span>
      <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>


      <div id="dialog3" title="Comments on Post 3">
        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>

        <div class="comment_post">
          <span class="id">UserID</span><small>says:</small>
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante</p>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------Micro Blog Content ------------------------------------>

  <!--------------------------------------Q and A Content ------------------------------------>
  <div id="tabs-3" class="body">

    <div class="QAbody">
      <div class="question">
        <span class="id">UserID</span>
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
      </div>


      <div class="answer">
        <span class="id">TeacherID</span>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
      </div>
    </div><!--end of QAbody -->

    <div class="QAbody">
      <div class="question">
        <span class="id">UserID</span>
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
      </div>


      <div class="answer">
        <span class="id">TeacherID</span>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
      </div>
    </div><!--end of QAbody -->

    <div class="QAbody">
      <div class="question">
        <span class="id">UserID</span>
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
      </div>


      <div class="answer">
        <span class="id">TeacherID</span>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
      </div>
    </div><!--end of QAbody -->

    <div class="QAbody">
      <div class="question">
        <span class="id">UserID</span>
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
      </div>


      <div class="answer">
        <span class="id">TeacherID</span>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
      </div>
    </div><!--end of QAbody -->
  </div>
  <!--------------------------------------Q and A Content ------------------------------------>

  <!-- /- Discussion Content -->
  <%= erb :'lesson/partial/_discussion' %>
  <!-- \- Discussion Content -->

  </div>

</div>
<!-- \-Tabbed Area -->
