<a id="feedback_btn" href="#feedback_dialog" name="modal">Feedback</a>

<div id="feedback_dialog" class="window">
  <p id="feedback_thanks" class="thanks_msg">Thank you for your comment!</p>

  <div id="feedback_form_wrapper">
    <h1>Feedback</h1>

    <p class="window_txt">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua
    </p>

    <% form_tag url_for(:feedback), :id => 'feedback_form' do %>
      <ul class="inputs">
        <li>
          <%= label_tag :user_name, :caption => 'Name:' %>
          <%= text_field_tag :user_name, :name => 'feedback[user_name]' %>
        </li>
        <li>
          <%= label_tag :email %>
          <%= text_field_tag :email, :name => 'feedback[email]' %>
        </li>
        <li>
          <%= label_tag :subject %>
          <%= text_field_tag :subject, :name => 'feedback[subject]' %>
        </li>
        <li>
          <%= label_tag :comment %>
          <%= text_area_tag :comment, :name => 'feedback[comment]' %>
        </li>
      </ul>

      <%= hidden_field_tag :url, :name => 'feedback[url]' %>

      <%= button_tag "Cancel", :class => "close" %>
      <%= submit_tag "Send" %>
    <% end %>
  </div>

</div>
