<div id="boxes">
  <div id="dialog_forgot_password" class="window">
    <p id="forgot_password_thanks">Your Password Has Been Sent to Your Email.</p>
    <span id="forgot_password_h">Forgot Password</span>
    <p id="forgot_password_txt">Please Enter Your E-Mail for Password Recover.</p>
    <% form_tag url_for(:forgot_password), :id => 'forgot_password_form' do %>
        <ul class="inputs">
          <li>
            <%= label_tag :mail_address %>
            <%= text_field_tag :mail_address, :name => 'forgot_password[mail_address]' %>
          </li>
        </ul>

        <%= hidden_field_tag :url, :name => 'forgot_password[url]' %>

         <%= button_tag "Cancel", :class => "close" %>
        <%= submit_tag "Send" %>
    <% end %>

  </div>
</div>

<div id="mask"></div>
