<div id="main" class="grid_19 clearfix">
<div id="slider" class="grid_19 alpha omega">
  <div class="SecHead">
    <img class="icon" src="images/home.png"/>

    <h3 class="title">What's New? </h3>
  </div>

  <!--Slider -------------------------------------------------------------------------------------------------------------->

  <div id="featured">
    <ul class="ui-tabs-nav">
      <%
         i = 0
         @top_lessons.each  do |lesson_row|
         i+=1
      %>

      <li class="ui-tabs-nav-item <%=(i==1 ? "ui-tabs-selected" : "") %>" id="nav-fragment-<%=lesson_row.id %>">
        <a href="#fragment-<%=i%>"><h4 class="title"><%=lesson_row.title %></h4>
          <span class="description">Added: <%=calculate_date_difference(Date.today() , lesson_row.created_at) %><br/>Category: <%=lesson_row.category.name %></span></a></li>
      <% end %>

    </ul>

    <!-- First Content -->
    <%
       i = 0
       @top_lessons.each  do |lesson_row|
       i+=1

    %>
    <div id="fragment-<%=i %>" class="ui-tabs-panel <%=(i!=1 ? "ui-tabs-hide" : "") %>" style="">
      <img src="images/slide1.jpg" alt=""/>

      <div class="info">
        <h2><%=lesson_row.title %></h2>

        <p><%=lesson_row.description %>....<a href="/lesson/<%=lesson_row.id %>">View This Lesson!</a></p>
      </div>
    </div>
    <% end %>
    <!-- Second Content -->
    <!--<div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">-->
      <!--<img src="images/slide2.jpg" alt=""/>-->

      <!--<div class="info">-->
        <!--<h2>Lesson Title</h2>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus. Pellentesque ut-->
          <!--diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit....<a href="#">View This Lesson!</a></p>-->
      <!--</div>-->
    <!--</div>-->

    <!-- Third Content -->
    <!--<div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">-->
      <!--<img src="images/slide3.jpg" alt=""/>-->

      <!--<div class="info">-->
        <!--<h2>Lesson Title</h2>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus. Pellentesque ut-->
          <!--diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit....<a href="#">View This Lesson!</a></p>-->
      <!--</div>-->
    <!--</div>-->

    <!-- Fourth Content -->
    <!--<div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">-->
      <!--<img src="images/slide4.jpg" alt=""/>-->

      <!--<div class="info">-->
        <!--<h2>Lesson Title</h2>-->

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus. Pellentesque ut-->
          <!--diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit....<a href="#">View This Lesson!</a></p>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <!--end of Slider -->
</div>
<!--Slider -------------------------------------------------------------------------------------------------------------->

<div id="populars_container" class="grid_19 alpha omega clearfix">
  <div id="Lessons" class="popular">
    <div class="SecHead">
      <img class="icon" src="images/home.png"/>

      <h3 class="title">Popular Lessons </h3>
    </div>

    <!--Popular Lessons -------------------------------------------------------------------------------------------------------------->

    <div class="SecBody">
      <ul class="popular_items">
        <li>
          <a href="">
            <img src="images/slide1.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide2.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide3.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide4.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>
      </ul>
    </div>

    <!--Popular Lessons -------------------------------------------------------------------------------------------------------------->


  </div>
  <!--end of Lessons -->

  <div id="Entries" class="popular">
    <div class="SecHead">
      <img class="icon" src="images/home.png"/>

      <h3 class="title">Popular Entries </h3>
    </div>


    <!--Popular Entries -------------------------------------------------------------------------------------------------------------->

    <div class="SecBody">
      <ul class="popular_items">
        <li>
          <a href="">
            <img src="images/slide1.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide2.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide3.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide4.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>
      </ul>
    </div>

    <!--Popular Entries -------------------------------------------------------------------------------------------------------------->

  </div>
  <!--end of Entries -->

  <div id="Suggestions" class="popular last">
    <div class="SecHead">
      <img class="icon" src="images/home.png"/>

      <h3 class="title">Suggestions </h3>
    </div>


    <!--Popular Suggestions -------------------------------------------------------------------------------------------------------------->

    <div class="SecBody">
      <ul class="popular_items">
        <li>
          <a href="">
            <img src="images/slide1.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide2.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide3.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>

        <li>
          <a href="">
            <img src="images/slide4.jpg"/>
            <h4>Lesson Title</h4>

            <p>viewed 225 times</p>
          </a>
        </li>
      </ul>
    </div>

    <!--Popular Suggestions -------------------------------------------------------------------------------------------------------------->

  </div>
  <!--end of Suggestions -->
</div>
</div><!-- end of main -->