<div id="dialog_sign_up" class="window orange_window">
  <p id="sign_up_thanks" class="thanks_msg">Thank you for sign up!</p>

  <div id="sign_up_form_wrapper">
    <h1>Sign Up</h1>

    <p class="window_txt">Signing up for an account is FREE.</p>

    <% form_tag url_for(:sign_up), :id => 'sign_up_form' do %>
        <ul class="inputs">
          <li>
            <%= label_tag :name, :caption => 'Name:' %>
            <%= text_field_tag :user_name, :name => 'sign_up[name]' %>*
          </li>
          <li>
            <%= label_tag :mail_address %>
            <%= text_field_tag :mail_address, :name => 'sign_up[mail_address]' %>*
          </li>
          <li>
            <%= label_tag :password %>
            <%= password_field_tag :password, :name => 'sign_up[password]' %>*
          </li>
          <li>
            <%= label_tag :password ,:caption => 'Password Confirm:'%>
            <%= password_field_tag :password, :name => 'sign_up[verify_password]' %>*
          </li>
        </ul>

        <%= button_tag "Cancel", :class => "close" %>
        <%= submit_tag "Sign Up" %>
    <% end %>
  </div>
</div>